@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import './../styles/auth-form.css';
@import './../styles/form.css';

@import 'tailwindcss/utilities';

:root {
  --foreground-hex: #374151;
  --link-color: #2563eb;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: var(--foreground-hex);
  background-color: #f8fafc;

  height: 100vh;
}

.nav-list {
  @apply text-base;
}

.nav-list svg {
  width: 24px !important;
}

.nav-list svg path {
  fill: var(--foreground-hex);
}

.nav-list .active svg path {
  fill: var(--link-color);
  @apply fill-primary-500;
}

.nav-list .active {
  color: var(--link-color);
  @apply text-primary-400;
}
